@page
@model ActorModel
@{
    ViewData["Title"] = "Movie Details";
}

<div id="actorDetails">
    <h1>@Model.actorName</h1>
    <h3>Born on @Model.birthday</h3>
    <h3>@Model.placeOfBirth</h3>
    <h3>Best known for: @Model.knownFor</h3>
    @if (Model.homepage != null)
    {
        <h3>@Model.homepage</h3>
    }
    <p class="bio">@Model.biography</p>
</div>

<div >
    @for (int i = 0; i < Model.imageUrls.Count; i++)
    {
        <img class="actorImages" src="https://image.tmdb.org/t/p/w500/@Model.imageUrls[i]" alt="pic" />
    }
</div>
